<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Mukta:300,400,700">
  <link rel="stylesheet" href="/css/user-style/fonts/icomoon/style.css">
  <link rel="stylesheet" href="\css\user-style\style\bootstrap.min.css">
  <link rel="stylesheet" href="\css\user-style\style\magnific-popup.css">
  <link rel="stylesheet" href="\css\user-style\style\jquery-ui.css">
  <link rel="stylesheet" href="\css\user-style\style\owl.carousel.min.css">
  <link rel="stylesheet" href="\css\user-style\style\owl.theme.default.min.css">
  <link rel="stylesheet" href="\css\user-style\style\aos.css">

  <link rel="stylesheet" href="\css\user-style\style\style.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css"
    integrity="sha384-r4NyP46KrjDleawBgD5tp8Y7UzmLA05oM1iAEQ17CSuDqnUK2+k9luXQOfXJCJ4I" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css"
    integrity="sha512-PgQMlq+nqFLV4ylk1gwUOgm6CtIIXkKwaIHp/PAIWHzig/lKZSEGKEysh0TCVbHJXCLN7WetD8TFecIky75ZfQ=="
    crossorigin="anonymous" />
  <link rel="stylesheet" type="text/css" href="/css\user-style\cart.css">
  <title>Cart</title>
</head>
<style>
  i {
    color: #e60000;
  }

  .btn {
    background-color: #e60000;
  }
</style>

<body class="bg-light">

  <script>
    function getCartItem() {
      $.ajax({
        url: '/cart/get-cart-item-local',
        success: function (result) {
          for (index = 0; index < result.length; index++)
            result[index].quantity = 1;
          localStorage.setItem("item-list", JSON.stringify(result));
        }
      });
    }
    getCartItem();
  </script>
  <%- include('../partial/user-header.ejs') %>

    <div class="container mt-4">
      <div class="row">
        <div class="col-12">
          <table class="table">
            <tr>
              <th>Image</th>
              <th>Product-Info</th>
              <th>Price</th>
              <th>Qty</th>
              <th>Total</th>
              <th>Remove</th>
            </tr>
            <tbody>
              <%for(index=0; index<cartItemList.length; index++){%>
                <tr>
                  <td><img width="100px" height="100px" src="/Productimages/<%=cartItemList[index].frontViewImage%>" />
                  </td>
                  <td>
                    <b>Name :</b>
                    <%=cartItemList[index].name%>
                      <br><b>Desc :</b>
                      <%=cartItemList[index].description%>
                        <br><b>In stock :</b>
                        <%=cartItemList[index].quantity%>
                  </td>
                  <td>
                    <%=cartItemList[index].price%>
                  </td>
                  <td>
                    <input onchange="updateQty(this.value,'<%=cartItemList[index].price%>','<%=index%>')"
                      style="width:60px;" type="number" min="1" max="<%=cartItemList[index].quantity%>" />
                  </td>
                  <td><span id="total<%=index%>"></span></td>
                  <td>
                   <button onclick="remove(this,'<%=isLoggedIn%>','<%=cartItemList[index].id%>')"
                      class="btn btn-danger">REMOVE</button>
                  </td>
                </tr>
                <%}%>
            </tbody>
          </table>
          <div class="row justify-content-center p-5">
            <button data-toggle="modal" data-target="#myModal" class="btn btn-primary">Place Order</button>
          </div>
        </div>
      </div>
    </div>


    <div class="modal" id="myModal">
      <div class="modal-dialog">
        <div class="modal-content">

          <!-- Modal Header -->
          <div class="modal-header">
            <h4 class="modal-title">Address Information</h4>
            <button type="button" class="close" data-dismiss="modal">&times;</button>
          </div>

          <!-- Modal body -->
          <div class="modal-body">

            <div class="form-group">
              <label>Address</label>
              <textarea id="address" class="form-control"></textarea>
            </div>
            <div class="form-group">
              <label>Contact Number</label>
              <input type="text" id="contact" class="form-control" />
            </div>
          </div>

          <!-- Modal footer -->
          <div class="modal-footer">
            <button onclick="placeOrder()" type="button" class="btn btn-success">Done</button>
          </div>

        </div>
      </div>
    </div>

    <script>
      function placeOrder() {
        var address = document.getElementById("address").value;
        var contact = document.getElementById("contact").value;
        var itemList = localStorage.getItem("item-list");
        $.ajax({
          url: "/order/place-order/" + itemList + "/" + address + "/" + contact,
          success: function (result) {
            alert("Order Placed......");
          }
        });
      }
      function updateQty(qty, price, index) {
        var spanObj = document.getElementById("total" + index);
        var total = (qty * 1) * (price * 1);
        spanObj.innerHTML = "" + total;
        itemList = localStorage.getItem("item-list");
        itemList = JSON.parse(itemList);
        itemList[index].quantity = qty * 1;
        localStorage.setItem("item-list", JSON.stringify(itemList));
      }
      function remove(button, isLoggedIn, pid) {
        var buttonText=button.innerText;
        if (buttonText == "REMOVE"){
         
          $.ajax({
            url: "/cart/remove-from-cart/"+pid,
            success: function(result) {
              alert("Item Removed From Cart..");
              //$('#row'+pid).remove(); 
            }
          });
        }

      }


    </script>
</body>

</html>